#logout, #login-area, #logout-area, #email, #video, #search {
	display: none;
}
nav {
	background-color: #8000FF;
	color: #fff;
	font-family: sans-serif;
	padding: 20px;
	min-height: 70px;
}

section {
	margin-top: 20px;
}
.title {
	margin: auto;
	text-align: center;
}
.btn {
	margin: 10px;
	padding:10px;
	font-weight: 900;
}