#logout, #login-area, #logout-area, #email, #video, #search, #user-image, #user-name {
	display: none;
}
#login {
	max-width: 200px;
}
nav {
	background-color: #8000FF;
	color: #fff;
	font-family: sans-serif;
	padding: 20px;
	min-height: 70px;
}

section {
	margin-top: 20px;
}
footer {
	margin-top: 60px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.container {
	max-width: 912px;
    margin: auto;
}
.title {
	margin: auto;
	text-align: center;
}
.btn {
	margin: 10px;
	padding:10px;
	font-weight: 900;
}
.logout-left {
	text-align: right;
}
.logout-right {
	text-align: left;
}
.video-embed {
	width: 100%;
	max-width: 300px;
	padding: 2px;
	float: left;
}